.board {
    text-align: center;
    margin-top: 1rem;
}

.status {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.board-row {
    display: flex;
    justify-content: center;
    margin: 1rem;
}